@font-face {
    font-family: general;
    src: url(GeneralSans-Medium.otf);
}
*{
    margin: 0;
    padding: 0;
    font-family: general;
}
html , body{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.container{
    background-color: rgb(15, 16, 63);
    /* background-color:white; */
    width: 100%;
    color: white;
}

.mode{
    background-color: black;
    color: white;
}

.main{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.nav{
    display: flex;
    position: fixed;
    z-index: 700;
    top: 0;
    width: 100%;
    height: 70px;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    font-weight: 200;
    font-style: normal;
}
.modelogo{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    width: 35px;
    background-color: transparent;
    z-index: 300;
}
.modelogo img{
    height: 100%;
    width: 100%;
}
.logo{
    width: 100px;
    height: 40px;
    margin-left: 20px;
}
.logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.navitem{
    display: flex;
    gap: 20px;
    font-size: 18px;
    margin-right: 20px;
    transition: all ease .5s;
    color: white;
}
.navitem li{
    position: relative;
}
.line{
    position: relative;
    width: 0;
    transition:all .3s ease;
}


.line::before{
    content: "";
    height: 4px;
    display: block ;
    position: absolute;
    background-color: #24c041f2;
    bottom: -3px;
    left: -2px;
    width: 100%;
    border-radius: 20px;
}
.menuicon{
    position: relative;
    height: 30px;
    width: 22px;
    margin-right: 20px;
    transition: all ease .5s;
    display: none;
    z-index: 999;
}
.menuicon:hover{
    transform: rotate(90deg);
}

.menuicon-line{
    position: absolute;
    background-size: cover;
    height: 2px;
    width: 100%;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    background-color: white;
    transition: all .5s cubic-bezier(.32,-0.68,.6,1.69);
}
.bg-white{
    background-color: white;
}
#line1{
    transform: translate(-50%,-8px);
}
#line3{
    transform: translate(-50%,6px);
}
.rotate #line1{
    transform: translate(-50%,0) rotate(45deg);
}
.rotate #line2{
    opacity: 0;
}
.rotate #line3{
    transform: translate(-50%,0) rotate(-45deg);
}


.hero{
    /* color: white; */
    height: min(1000px,70vh);
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 600;
    width: fit-content;
}
.hero-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-right{
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-size:cover;
    mix-blend-mode: color-burn;
    border-end-end-radius: 70px;
    /* padding: 200px; */
}
.hero-right img{
    height: min(500px,100%);
    border-radius: 30px ;
    filter: drop-shadow(17px -1px 12px #5c5cd7);
}
@media (max-width:950px) {
    .hero{
        flex-direction: column-reverse;
    }
    .hero-right img{
        height: auto;
        width: min(245px,80vw);
    }
}
.text{
    font-size: 26px;
    line-height: 70px;
    font-weight: 200;
    font-style: normal;
}
.i_am{
    font-size:30px ;
}
.name{
    font-size: min(6vw,88px);
    font-weight: 200;
}
.about_abouttext{
    line-height: 20px;
}

.hero_btn{
    height: 20%;
    width: 100%;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.hero_btn button{
    padding: 7px 25px;
    border-radius: 20px;
    font-size: 1rem;
    border: transparent;
    background-color: transparent;
    background-image: linear-gradient(to right ,rgba(41, 87, 163, 1)  ,rgba(181, 96, 215, 1),rgba(201, 97, 222, 1));
}
.topmoon{
  width: 100%;
  height: 100%;
}
.imgBottom {
    width: 100%;
    height: 100%;
    margin-left: 200px;
}
.coverdiv{
    overflow: hidden;
    position: absolute;
}
#topmoonpic{
    height: 168px;
    width: 150px;
    top: 0;
    left: 0;
}
#bottommoonpic{
    height: 400px;
    width: 500px;
    bottom: 0;
    right: -0;
    z-index: 800;
}
.hidden{
    height: fit-content;
    width: fit-content;
    overflow: hidden;
}

.circle{
    width:65px;
    height: 65px;
    border-radius: 50%;
    border: 30px solid rgba(255, 255, 255, 0.919);
    position: fixed;
    bottom: 2%;
    left: 1%;
    background-color: rgba(135, 207, 235, 0.308);
    z-index: 900;
}
.circle::before{
    content: "Conect";
    position: absolute;
    height: fit-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 800;
    font-size: 12px;
    display: grid;
    place-items: center;
    font-family: "Grape Nuts", cursive;
    font-weight: 200;
}

.innercircle{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    font-style: normal;
    animation: rotateanime 4s linear infinite;
    position: relative;

}
.innercircle_img{
    height: 30px;
    width: 30px;
    position: absolute;
    animation: rotateanime 4s reverse linear infinite;

}

.innercircle_img1{
    left: -30px;
  top: 16px;
  color: white;
  
}
.innercircle_img2{
    left: 16px;
  top: -30px;
}
.innercircle_img3{
    top: 14px;
  right: -29px;
}
.innercircle_img4{
    bottom: -29px;
  right: 18px;
}
@keyframes rotateanime {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}
.circle:hover .innercircle, .innercircle_img{
    animation-play-state: paused;
}
.circle:not(:hover) .innercircle,.circle:not(:hover) .innercircle_img {
    animation-play-state: running;
}

@media (max-width:860px) {
    html , body{
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .navitem{
        font-size: 15px;
    }
    .hero{
        width: 100vw;
    }
    .name{
        font-size: 10vw;
    }
    .i_am{
        font-size:5vw ;
    }
}
@media (max-width:650px) {
    html , body{
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    #bottommoonpic{
        height: 150px;
        width: 200px;
        bottom: 0px;
    }
    .imgBottom{
        margin-left: 50px;
    }
    #topmoonpic{
        height: 100px;
        width: 100px;
    }
  
    .navitem{
        background-color: rgb(119, 98, 164);
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 0;
        height: fit-content;
        width: 100%;
        align-items: center;
        padding-bottom: 40px;
        padding-top: 20px;
        z-index: 900;
        
    }
    .navitem li{
        margin-top: 40px;
    }
    .menuicon{
        display: block;

    }
    .none{
        transform: translateY(-100%);
    }
    .about_abouttext{
        line-height: 1;
        font-size: 5vw;
    }
  
    .text{
        line-height: 2;
    }
    .hero_btn button{
        padding: 5px 10px;
    }
    .circle{
        display: none;
    }
    
}

/* project  */
/* project  */
/* project  */
/* project  */
/* project  */

.project{
    height: 130vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.project h1{
    color: rgb(24, 99, 136);
    font-size: 90px;
    opacity: .8;
    text-shadow: 10px 40px 10px;
}
.allcard{
    width: 80%;
    height: 100%;
    position: relative;
}
.card{
    position: absolute;
    width: 100%;
    max-width: 900px;
    height: 60vw;
    max-height:450px ;
    z-index: 999;
    margin-left: 50%;
    display: flex;
    transform: translateX(-50%);
    background-position: center;
    background-size: 100% 100%;
}
.card:hover .cardtext{
    opacity: .9;
}

#card1{
    background-image: url(assets/renthouse.png);
    top: 110%;
} 
#card2{
    background-image: url(assets/cakeweb.png);
    top: 110%;
}
#card3{
    background-image: url(assets/tic.png);
    top: 110%;
}
.cardtext{
    width: 100%;
    height: 100%;
    background-color: skyblue;
    opacity: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    transition: all ease .8s;
    
}
.card_buttom{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.card_buttom button{
    padding: 3px 10px;
    background-image: linear-gradient(to left, rgb(202, 39, 239),blue);
    font-size:20px;
    border-radius: 20px;
    border: transparent;
}
.card_buttom button:hover{
    box-shadow: 2px 2px 3px black;
}
.text-card{
    margin-top: 40px;
    font-size: 20px;
    color: black;
    height: 100%;
    width: 100%;
    overflow: scroll;
    
}
@media (max-width:700px) {
    html , body{
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .project h1{
        font-size: 16vw;
    }

}
@media(max-width:600px){
    html , body{
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .allcard{
        width: 100%;
    }
}

/* =========> SKILLS <========= */

.skills{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.skills h1{
    font-size: 50px;
    font-weight: 700;
    text-shadow: 0px 10px 2px rgb(66, 64, 64);
}
.skills hr{
    width: 300px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.skills p{
    width: 60%;
    opacity: .7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.skills-item{
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 43px;
    gap: 100px;
    margin-bottom: 100px;
}
.skills-right{
    
}
.skills-left{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    gap: 2px;
}
.skills-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
.skills-box-item{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
    align-items: center;
}
.skills-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.skills-meter{
    border:  1px solid rgb(16, 16, 15);
    width: 100%;
    height: 8px;
    border-radius: 30px;
    overflow:hidden ;
}

.skills-meter-lebel{
    width: 0;
    height: 100%;
    background-color: #e95726;
    border-radius: 30px;
    transition: all ease 1s
}
.skills-meter-value{
    margin-right: 10px;
    font-weight: 600;
}
@media (max-width:1120px) {
    html , body{
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .skills-item{
        width: 90%;
        gap: 30px;
    }
}
@media (max-width:870px) {

    html , body{
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .skills-item{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .skills-left{
        gap: 20px;
        width: min(450px,100%);
    }
    .skills-box-item{
        width: 100%;
    }
    .skills h1{
        font-size: min(14vw,40px);
    }
    .skills hr{
        width: 50%;
    }
    .skills p{
        width: min(460px,90%);
    }
    .skills-meter{
        height: 3px;
    }
    .skills p{
        font-size: 10px;
    }
    .skills-top{
        font-size: 10px;
    }
}